<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>        
          <c-card class="p-4">
            <c-card-body>
              <form cForm>
                <c-card-body class="card-body">
                  <div>
                    <img src="https://i.ibb.co/XjDRJZb/Design-sem-nome-2023-12-01-T104519-619.png" alt="Imagem" class="img-responsive">
                  </div>
                </c-card-body>
                <h1>Login</h1>
                <p class="text-medium-emphasis">Entre com seu E-mail</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="username" cFormControl placeholder="E-mail" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <!-- <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span> -->
                  <!-- <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password"
                  /> -->
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button (click)="login()" cButton class="px-4" color="primary">
                      Login
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
         
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
