
<c-row>
  <c-col sm="4" style="margin-top: 10px;">
    <c-widget-stat-a class="mb-4" color="black" title="BLACK CARD">
      <ng-template class="bg-primary1" cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        Instalação
        <span class="fs-6 fw-normal">
          <svg cIcon name="cilArrowBottom"></svg>
        </span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <svg cIcon name="cilCreditCard" size="3xl"></svg>
      </ng-template>
      <button cButton style="background-color:#000000; color:white;">INSTALAÇÃO</button>
    </c-widget-stat-a>
    <div class="d-grid col-12 mx-auto" >
      <button (click)="buscarIntegravel()" _ngcontent-ng-c1567877792="" cbutton="" style="background-color: #000000;color: white;margin-top: -20px;" type="button" class="btn btn-primary">Instalar</button>
    </div>
  </c-col>

  <c-col sm="4" style="margin-top: 10px;">
    <c-widget-stat-a class="mb-4" style="background-color:#128C7E; color:white;" title="BLACK CARD">
      <ng-template class="suporte-class" cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        Suporte
        <span class="fs-6 fw-normal">
          <svg cIcon name="cilArrowBottom"></svg>
        </span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <svg cIcon name="cil-user" size="3xl"></svg>
      </ng-template>
      <button cButton style="background-color:#128C7E; margin-top: 5px; color:white;margin-top: -20px;" class="botao">SUPORTE</button>
    </c-widget-stat-a>
    <div class="d-grid col-12 mx-auto" style="margin-top: 5px;">
      <button cButton style="background-color:#128C7E; color:white;margin-top: -20px;">Suporte</button>
    </div>
  </c-col>

  <c-col sm="4" style="margin-top: 10px;">
    <c-widget-stat-a class="mb-4" style="background-color:#ff6a00; color:white;" title="BLACK CARD">
      <ng-template class="suporte-class" cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        Comparar mais telas
        <span class="fs-6 fw-normal">
          <svg cIcon name="cilArrowBottom"></svg>
        </span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <svg cIcon name="cil-contact" size="3xl"></svg>
        
      </ng-template>
      <button cButton style="background-color:#ff6a00; margin-top: -18px; color:white;" class="botao">Comparar mais uma tela</button>
    </c-widget-stat-a>
    <div class="d-grid col-12 mx-auto" style="margin-top: -18px;">
      <button cButton style="background-color:#ff6a00; color:white;">Ponto Adicional</button>
    </div>
  </c-col>
  
  
</c-row>
